*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}


.btn{
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
}





/* main styles */

nav{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

nav .menu{
  display: flex;
 list-style: none;
 gap: 32px;
 align-items: center;
}

nav .menu a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
}