*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}


.btn{
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
}

.title{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.subtitle{
 font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}


/* main styles */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

nav .menu{
  display: flex;
 list-style: none;
 gap: 32px;
 align-items: center;
}

nav .menu a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

#banner{
  background-image: url("/assets/hero-bg.png");
  background-size: cover;
}

#banner .banner-container{ 
   max-width: 770px;
  margin: 0 auto;
  text-align: center;
  padding: 115px 0 180px 0;
}

#banner .banner-info{
  color: #276941;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px; 
  background-color: white;
  border-radius: 1000px;
  width: 229px;
  margin: 0 auto;
}

#banner .banner-container h1{
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
 color: white;
 margin: 16px 0;
 text-transform: capitalize;
}
.banner-container .green{
  color: #30B868;  
}

#banner .banner-container p{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
  color: white;
}

#banner .banner-container .banner-buttons {
  display: flex;
  gap: 16px;
 width: fit-content;
 margin: 0 auto;
}

#banner .banner-container .banner-buttons .btn-two{
   font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 12.5px 16px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;

  cursor: pointer;
}



#notes{
  text-align: center;
  background-color: #fbfbfb;
}

#notes h1{
  
  padding-top: 44px;
}



#notes .note-box{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#notes .note-card{
  max-width: 322px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

#notes .note-box .icon{
 width: 60px;
 height: 60px;
 background-color: #F95555;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 46px auto 16px;

}

#notes .note-box h2{
  font-weight: 600;
  font-size: 24px;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}
#notes .note-box p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#brain .brain-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0 ;
  gap: 60px;
}

#brain .brain-container img{
  max-width: 600px;
}

#brain .brain-container .brain-info h3{
  font-size: 16px;
  line-height: 20px;
  color: #30B868;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#brain .brain-info .idea-bullets li{
 list-style: none;
 color: #001931 ;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}

#early-access .early-access-container{
  margin-bottom: 120px;
  background-color: #F7F6F2;
  padding: 80px 40px;
  text-align: center;
}

#early-access .early-access-container h1{
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  color: #001931;
  margin-bottom: 16px;
}

#early-access .early-access-container p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  width: 600px;
  margin: 0 auto 24px;
}

#early-access .early-access-container .bottom-line{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 16px;
}

.dot{
 width: 5px;
 height: 5px;
 background-color: #627382;
 border-radius: 100%;
}

footer{
  background-color: #001931;
}

footer .footer-section{
padding: 120px 0 30px;

}

footer .footer-section .footer-container{
display: flex;
justify-content: space-between;
}

footer .footer-section img{
  max-width: 140px;
}

footer .footer-section .social-links p{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: white;
  margin-bottom: 16px;
}

footer .social-links{
  margin-right: 60px;
}

footer .social-icons{
  display: flex;
  justify-content: flex-start;
  gap: 16px;

}

footer .social-icons .social-icon{
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

footer .footer-section hr{
 height: 2px;
  background-color: #2e4256;
  border: none;
  margin-top: 80px;
}

footer .footer-section .copy-write{
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  padding-top: 30px;
}